.menu-accueil-container {
    .menu{
        display: flex;
        justify-content: space-around;
        .accueil_cours .menu-item-icone {
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=versions-bold");
        }
        .accueil_prof .menu-item-icone {
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=smiley-bold");
        }
        .accueil_aide .menu-item-icone {
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=thumbsup-bold");
        }
        .accueil_etudiant .menu-item-icone {
            background-image: url("https://s2.svgbox.net/octicons.svg?ic=people-bold");
        }
        .menu-item {
            width: 15%;
            padding: 10px;
            background-color: $color__bouton__background;
            list-style: none;
            a{
                display: flex;
                flex-direction: column;
                color: $color__bouton__color;
                font-size: 1.5rem;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                hr{
                    width: 90%;
                }

                .menu-item-description{
                    font-size: 1rem;
                }

                .menu-item-icone {
                    border: 1px solid #aaa;
                    width: 2rem;
                    height: 2rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    margin-top: auto;
                }
            }

            &:hover {
                background-color: $color__bouton__background--hover;
                a{
                    color: $color__bouton__color--hover;
                }
            }
        }
    }
}